.accounts_root {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 38%;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 75px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.accounts_root .nav_container {
    display: inline-block;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 56px;
    padding-left: 30px;
    padding-right: 30px;
}

.accounts_root .nav_container .nav_button {
    box-sizing: border-box;
    width: 50%;
    background-color: #52aff1;
    color: white;
    border-radius: 4px 0 0 4px;
    border: solid 1px #52aff1;
    height: 36px;
    font-size: 16px;
    font-weight: 200;
}

.accounts_root .nav_container .nav_button:focus {
    outline: none;
}

.accounts_root .list_container {
    position: absolute;
    top: 167px;
    left: 30px;
    right: 30px;
    bottom: 10px;
    display: block;
    overflow-y: auto;
}