.right_side_item_page .history_string {
    height: 18px;
    font-size: 14px;
    line-height: 1.28;
    color: #999999;
    display: block;
    text-align: start;
    padding-left: 48px;
    padding-right: 48px;
}

.right_side_item_page .transactions_list {
    display: block;
    text-align: start;
    position: absolute;
    top: 160px;
    left: 18px;
    right: 18px;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

.right_side_item_page .item_view {
    padding: 0 18px 0 18px;
}