.right_side_item {
    position: relative;
    display: block;
    text-align: start;
    box-sizing: content-box;
    padding: 30px;
}

.right_side_item .id {
    font-size: 16px;
    color: #333333;
    line-height: 1;
    height: 16px;
    margin-bottom: 8px;
}

.right_side_item .sum {
    font-size: 20px;
    line-height: 0.8;
    height: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.right_side_item .percent {
    font-size: 12px;
    line-height: 1.33;
    color: #999999;
    height: 16px;
}

.right_side_item .date_string {
    text-align: start;
    font-size: 12px;
    line-height: 1.33;
    color: #999999;
    height: 16px;
}

.right_side_item .transaction {
    text-align: start;
    font-size: 12px;
    line-height: 1.33;
    color: #999999;
    height: 16px;
    white-space: nowrap;
    padding: 0;
}

.right_side_item .link_right {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 16px;
    width: 16px;
    padding: 0;
    color: #979797;
    text-decoration: none;
}

.right_side_item .icon_right {
    padding: 0;
    height: 16px;
    width: 16px;
    object-fit: contain;
}
